/* G E N E R A L */
.tableCell {
    vertical-align: middle;
    border-bottom: 1px solid #d8d8d8;
    padding: 7px;
    height: 15px;
}

.rightAlign {
    text-align: right;
}

h1, h2, h3, h4, h5, h6, p, span, button, input {
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
}

h1 {
    font-weight: bold;
    font-size: 30px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    margin-top: 7px;
}

hr {
    color: #EEEEEE;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}

td {
    font-size: 12px;
}

.regularFont {
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
}

.bold {
    font-weight: bold;
}

.tableHeader {
    font-weight: bold;
}

/* B A S E   C O N T A I N E R */
#baseContainer {
    width: 1024px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}



/* F O R M */
#occupationForm {
    width: 200px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    border: 1px solid black;
}

.occupationInput {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 7px;
}

.inputButton {
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.inputButton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 14px 7px 14px;
  text-decoration: none;
}

.inputButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* E R R O R   M E S S A G E */
#errorMessage {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* S U M M A R Y   T A B L E */
#summaryTable {
    width: 100%;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
}

.summaryCell {
    padding: 30px;
    text-align: center;
    border: 1px solid #EEEEEE;
    
}

.summaryHeading {
    font-size: 30px;
}

.supportHeading {
    font-size: 12px;
    margin-top: 5px;
}


/* T R E N D S   G R A P H */
#trendsGraphContainer {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}


/* T R E N D S   T A B L E */
#trendsTable {
    width: 100%;
}

.regionColumn {
    width: 60%;
}

.circleKey {
    height: 10px;
    width: 10px;
    border-radius: 40px;
    background-color: black;
}

.squareKey {
    height: 10px;
    width: 10px;
    background-color: rgba(17,133,196,1);
}

.triangleKey {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 11px solid rgba(175,219,292,1);
}



/* I N D U S T R I E S   T A B L E */
#industriesTable {
    width: 100%;
}

.industryTitle {
    width: 60%;
    font-weight: bold;
}

.barGraphCell {
    position: relative;
}

span.barGraphText {
    color: rgba(17,133,196,1);
}

.barGraphText {
    z-index: 5;
}

.barGraphBar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(185, 207, 232, 0.31);
    z-index: 50;
}

.industryThumbnailCell {
    vertical-align: middle;
    border-bottom: 1px solid #d8d8d8;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 15px;
    
    position: relative;
    width: 30px;
    height: 15px;
    background-color: rgba(185, 207, 232, 0.31);
}

.industryThumbnail {
    position: absolute;
    height: 20px;
    top: 4px;
    left: 5px;
}