<!DOCTYPE html>
<html ng-app="OccupationDataApp">

<head>
    <title>Occupation Overview</title>
    <link href="css/reset.css" rel="stylesheet" type="text/css" />
    <link href="css/styling.css" rel="stylesheet" type="text/css" />
</head>

<body ng-controller="OccupationController">
    <div id="baseContainer">
        <form id="occupationForm">
            <span>Occupation ID:</span><br />
            <input class="occupationInput" type="text" ng-model="occupationID" /><br /> <span>Area Type:</span><br />
            <input class="occupationInput" type="text" ng-model="areaType" /><br /> <span>Area Code:</span><br />
            <input class="occupationInput" type="text" ng-model="areaCode" /><br />
            <br/>
            <button class="inputButton" ng-click="fetchData()">Fetch Data</button>
        </form>

        <div class="dataContainer" ng-hide="!dataLoaded">
            <h1>Occupation Overview</h1>
            <h3><span ng-bind="occupation.title"></span> in <span ng-bind="region.title"></span></h3>
            <br/>
            <br/>

            <h2>Occupational Summary for <span ng-bind="occupation.title"></span></h2>

            <table id="summaryTable">
                <tr>
                    <td class="summaryCell">
                        <p class="summaryHeading" ng-bind="summary.jobs.regional | number"></p>
                        <p class="bold supportHeading">Jobs (<span ng-bind="summary.jobs.year"></span>)</p>
                        <p class="supportHeading">
                            <span ng-bind="(summary.jobs.regional / summary.jobs.national_avg) | percentage:0"></span>
                            <span ng-bind="aboveOrBelow(summary.jobs.regional, summary.jobs.national_avg)"></span> National
                            average
                        </p>
                    </td>
                    <td class="summaryCell">
                        <p class="summaryHeading"><span ng-bind="plusOrMinus(summary.jobs_growth.regional)"></span><span ng-bind="summary.jobs_growth.regional"></span>%</p>
                        <p class="bold supportHeading">% Change (<span ng-bind="summary.jobs_growth.start_year"></span> - <span ng-bind="summary.jobs_growth.end_year"></span>)</p>
                        <p class="supportHeading">Nation: <span ng-bind="plusOrMinus(summary.jobs_growth.regional)"></span><span ng-bind="summary.jobs_growth.national_avg"></span>%</p>
                    </td>
                    <td class="summaryCell">
                        <p class="summaryHeading"><span ng-bind="summary.earnings.regional | currency"></span>/hr</p>
                        <p class="bold supportHeading">Median Hourly Earnings</p>
                        <p class="supportHeading">Nation: <span ng-bind="summary.earnings.national_avg | currency"></span>/hr</p>
                    </td>
                </tr>
            </table>

            <br/>
            <br/>

            <h2>Regional Trends</h2>

            <hr>

            <div id="trendsGraphContainer">
                <canvas id="trends" height="500" width="700"></canvas>
            </div>

            <br/>

            <table id="trendsTable">
                <tr>
                    <td class="tableCell tableHeader"></td>
                    <td class="regionColumn tableCell tableHeader">Region</td>
                    <td class="tableCell tableHeader"><span ng-bind="trendComparison.start_year"></span> Jobs</td>
                    <td class="tableCell tableHeader"><span ng-bind="trendComparison.end_year"></span> Jobs</td>
                    <td class="tableCell tableHeader">Change</td>
                    <td class="tableCell tableHeader">% Change</td>
                </tr>
                <tr>
                    <td class="tableCell">
                        <div class="circleKey"></div>
                    </td>
                    <td class="regionColumn tableCell">Region</td>
                    <td class="tableCell"><span ng-bind="trendComparison.regional[0] | number"></span></td>
                    <td class="tableCell"><span ng-bind="trendComparison.regional[trendComparison.regional.length - 1] | number"></span></td>
                    <td class="tableCell"><span ng-bind="(trendComparison.regional[trendComparison.regional.length - 1] - trendComparison.regional[0]) | number"></span></td>
                    <td class="tableCell"><span ng-bind="(trendComparison.regional[trendComparison.regional.length - 1] / trendComparison.regional[0] - 1) | number | percentage:1"></span></td>
                </tr>
                <tr>
                    <td class="tableCell">
                        <div class="squareKey"></div>
                    </td>
                    <td class="regionColumn tableCell">State</td>
                    <td class="tableCell"><span ng-bind="trendComparison.state[0] | number"></span></td>
                    <td class="tableCell"><span ng-bind="trendComparison.state[trendComparison.state.length - 1] | number"></span></td>
                    <td class="tableCell"><span ng-bind="(trendComparison.state[trendComparison.state.length - 1] - trendComparison.state[0]) | number"></span></td>
                    <td class="tableCell"><span ng-bind="(trendComparison.state[trendComparison.state.length - 1] / trendComparison.state[0] - 1) | percentage:1"></span></td>
                </tr>
                <tr>
                    <td class="tableCell">
                        <div class="triangleKey"></div>
                    </td>
                    <td class="regionColumn tableCell">Nation</td>
                    <td class="tableCell"><span ng-bind="trendComparison.nation[0] | number"></span></td>
                    <td class="tableCell"><span ng-bind="trendComparison.nation[trendComparison.nation.length - 1] | number"></span></td>
                    <td class="tableCell"><span ng-bind="(trendComparison.nation[trendComparison.nation.length - 1] - trendComparison.nation[0]) | number"></span></td>
                    <td class="tableCell"><span ng-bind="(trendComparison.nation[trendComparison.nation.length - 1] / trendComparison.nation[0] - 1) | number | percentage:1"></span></td>
                </tr>
            </table>

            <br/>
            <br/>

            <h2>Industries Employing <span ng-bind="occupation.title"></span></h2>

            <hr>

            <table id="industriesTable">
                <tr>
                    <td class="industryTitle tableCell tableHeader">Industry</td>
                    <td class="rightAlign tableCell tableHeader">Occupation Jobs in Industry <br/>(<span ng-bind="employingIndustries.year"></span>)</td>
                    <td class="rightAlign tableCell tableHeader">% of Occupation in Industry <br/>(<span ng-bind="employingIndustries.year"></span>)</td>
                    <td class="rightAlign tableCell tableHeader">% of Total Jobs in Industry <br/>(<span ng-bind="employingIndustries.year"></span>)</td>
                </tr>
                <tr ng-repeat="industry in employingIndustries.industries">
                    <td class="industryTitle tableCell barGraphCell">
                        <span class="barGraphText" ng-bind="industry.title"></span>
                        <div class="barGraphBar" ng-style="getBarSize((industry.in_occupation_jobs / employingIndustries.jobs) | percentage:0)"></div>
                    </td>
                    <td class="rightAlign tableCell"><span ng-bind="industry.in_occupation_jobs | number"></span></td>
                    <td class="rightAlign tableCell"><span ng-bind="(industry.in_occupation_jobs / employingIndustries.jobs) | number | percentage:1"></span></td>
                    <td class="rightAlign tableCell"><span ng-bind="(industry.in_occupation_jobs / industry.jobs) | number | percentage:1"></span></td>
                </tr>
            </table>

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>



    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/chart.js/dist/Chart.js"></script>
    <script src="js/app.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/factories/trendsFormatter.js"></script>
    <script src="js/factories/trendsData.js"></script>
    <script src="js/services/occupationData.js"></script>
    <script src="js/controllers/controller.js"></script>
</body>

</html>